html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

article {
  /*flex: 1 400px;*/
  flex: 400px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background: antiquewhite;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 175px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

header {
  background: silver;
  height: 100px;
}

nav {
  box-sizing: border-box;
  height: 50px;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button:first-child {
  align-self: center;
}

button:last-child {
  order: 1;
  /* default value 0, the higher the number the later desplayed*/
}

section:nth-of-type(2)>article {
  flex: 0 1 350;
}

section:nth-of-type(2)>article:nth-of-type(3) {
  flex: 0 1 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section:nth-of-type(2)>article:nth-of-type(3)>nav {
  width: 95%;
}

section:nth-of-type(2)>article:nth-of-type(3)>nav>button {
  flex: 0 1 130px;
}

section:nth-of-type(2)>article:nth-of-type(3)>article {
  width: 45%;
}

section>div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
}

.gridContainer {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

/*
.myNest{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.myNest>article{
  flex: 250px;
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
}
.myNest>article:nth-of-type(3)>nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.myNest>article:nth-of-type(3)>nav>button{
  width: 90px;
  flex: 250px;
  box-sizing: border-box;

  justify-content: space-between;

}
*/
